<html>
  <head>
    <style>
      #background {
        padding: 10px;
        background-color: white;
        width: 800px;
        height: 700px;
      }

      #msg-content {
        padding: 25px;
        text-align: center;
      }

      .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="background" class="center">
      <div id="rect-banner" class="center">
        <img class="center" src="https://services.google.com/fh/files/misc/crf21-rect-banner.png" alt="crf21-rect-banner" border="0" width="500px">
      </div>
      <br>
      <div id="msg-content">
        <p>
          <b>Hi {{name}}!</b>
        </p>
        <p>Thank you so much for enrolling in the <a href="https://events.withgoogle.com/googlecloudready-facilitator-program/">GoogleCloudReady Facilitator program</a>. We noticed that you have completed <b>{{quests}}</b> quests out of <b>40</b> & <b>{{skill_badges}}</b> out of <b>20</b> skill badges. Please complete the remaining quests and the skill badges ASAP so that you can be entitled to your prizes. </p>
        <p>Note: You have until 25th June to complete the milestones mentioned on the prizes rules section <a href="https://events.withgoogle.com/googlecloudready-facilitator-program/prize-rules/">here</a> and earn those amazing prizes.</p>
        <p>As always, please feel free to reach out to us on our chat group in case of any questions or queries.</p>
        <p>All the best & happy learning, <br>
          <b>Your #GoogleCloudReady Facilitators <br> Jalpaiguri Government Engineering College </b>
        </p>
      </div>
    </div>
  </body>
</html>